defaults
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    timeout check 2s

resolvers docker_resolver
    nameserver dns1 127.0.0.11:53
    hold valid 1s

frontend redis_front
    bind *:6379
    default_backend redis_cluster

frontend stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s

backend redis_cluster
    option tcp-check
    # Mandatory backslash before the space for the AUTH command
    tcp-check send AUTH\ prod_password\r\n
    tcp-check expect string +OK
    tcp-check send PING\r\n
    tcp-check expect string +PONG

    # init-addr allows HAProxy to boot even if DNS is slow
    server redis-master redis-master:6379 check resolvers docker_resolver init-addr last,libc,none
    server redis-replica redis-replica:6379 check resolvers docker_resolver init-addr last,libc,none
